/*
font-family: 'Rokkitt', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Quattrocento', serif;

Dark Grey
#1d2228

Maroon
#430a13

Orange
#9b5329

Beige
#bca387

Gold
#aa8337

Grey
#5c5e5f

Teal
#054649
*/

.footer{
    position: relative;
    background-color: #999999;
    height: 50px;
}

.footer-info{
    font-family: 'Quattrocento', serif;
    color: white;
    padding-top: 18px;
    padding-left: 20px;
    font-size: .8em;
}

.footer-info a{
    color: #ffffff;
    text-decoration: none;

    }

.footer-info ul{
    float: right;
    margin-top: -32px;
    align-self: center;
}

.footer-info ul li{
    list-style: none;
    display: inline;

    
}

.footer-info img{
    float: right;
    margin: 0;
    align-self: center;
    padding-right: 20px;
    vertical-align: middle;
    width: auto;
    height: 25px;
    z-index: 900;
}
